In [ ]:
print("Hola mundo")

Hola mundo

# Variables

In [ ]:
# Variables enteras

entero = 1

cadena = "Pepe"

print(str(entero)+" "+cadena)

1 Pepe

Ejercicio 1 :

Crear un ejemplo de presentacion:

"Mi nombre es: Alejandro"
"Tengo 23 años"

crear una variable nombre = "Alejandro" y edad = 23

In [ ]:

nombre = "Alejandro"

edad = 23

edad = 24

frase = "Mi nombre es: "+nombre+"\nTengo "+str(edad)+" años"

print(frase)

Mi nombre es: Alejandro
Tengo 24 años

Operadores

In [ ]:

numero1 = 1
numero2 = 5

boleana = numero1>numero2

suma = numero1+numero2

print(boleana)

print(suma)

False
32

Input

In [ ]:
nombre = input("Dime tu nombre:")
print(nombre)

Dime tu nombre:Alejandro
Alejandro

Ejercicio 2:

Pedir el nombre y la edad al usuario y mostralo por la consola.

"Dime tu nombre:" Alejandro
"Dime tu edad:" 23

"Tu nombre es: Alejandro"
"Y tienes 23 años"

In [ ]:
nombre = input("Dime tu nombre:")
edad = input("Dime tu edad:")

print("Te llamas "+nombre+"\nY tienes "+edad+" años")

Dime tu nombre:Alejandro
Dime tu edad:23
Te llamas Alejandro
Y tienes 23 años

Lista

In [ ]:
lista = ["Marco","Silvia","Alejandro","Juan"] #lista 4 nombres

print(lista[0])


lista2 = [1,"Silvia",False,"Juan"] #lista con un entero(int),cadena(str),boleano(bool) y cadena(str)

lista2[1] = 0

print(lista2)

lista2.append("Pepe")

print(lista2)

lista2.pop()

print(lista2)

lista2.remove(0)

print(lista2)

lista2[0] = "Marco"

print(lista2)

Marco
[1, 0, False, 'Juan']
[1, 0, False, 'Juan', 'Pepe']
[1, 0, False, 'Juan']
[1, False, 'Juan']
['Marco', False, 'Juan']

Ejercio Among us:

crear una lista vacia: list(), []
añadir los jugadores: importante meter dos impostores

["Azul","Rojo","Impostor","Verde","Impostor","Morado"]

Expulsar o eliminar a los impostores

["Azul","Rojo","Verde","Morado"]

In [ ]:
lista = list()

lista.append("Rojo")
lista.append("Morado")
lista.append("Azul")
lista.append("Impostor")
lista.append("Verde")
lista.append("Impostor")

print(lista)

lista.pop()

print(lista)

lista.remove("Impostor")

print(lista)

['Rojo', 'Morado', 'Azul', 'Impostor', 'Verde', 'Impostor']
['Rojo', 'Morado', 'Azul', 'Impostor', 'Verde']
['Rojo', 'Morado', 'Azul', 'Verde']

Condicionales if

In [ ]:
a = input("dime un numero:")
b = input("dime otro numero:")

if a > b:
  print(a+" es mayor que "+b)
elif a == b:
  print(a+" es igual que "+b)
else:
  print(a+" es mayor que "+b)

dime un numero:1
dime otro numero:1
1 es igual que 1

Ejercicio Discoteca:

Tenemos que pedir a los cliente la edad para dejarles pasar:

Si tiene 18 o más años le permitmos pasar

Si no le denegamos el acceso

In [ ]:
edad = input("Dime tu edad:")

if int(edad) >= 18:
  print("Disfrute de la fiesta")
else:
  print("No puede pasar")

Dime tu edad:17
No puede pasar

While

In [ ]:
numero = 1

while numero <= 10:
  print(numero)
  numero += 1 # numero = numero + 1

numero = 1

while numero <= 10:
  if numero%2 != 0:
    print(numero)
  numero += 1 # numero = numero + 1

1
2
3
4
5
6
7
8
9
10
1
3
5
7
9

Ejercio Sumatorio:

sumar los números del 1 al 100

si se consigue: sumar solo los impares

In [ ]:
numero = 1
sumatorio = 0

while numero <= 100:
  sumatorio += numero # sumatorio = sumatorio + numero
  numero += 1 # numero = numero + 1

print(sumatorio)

5050

For

In [ ]:
sumatorio = 0
for numero in range(1,101):
  sumatorio += numero # sumatorio = sumatorio + numero

print(sumatorio)

sumatorio = 0
for numero in range(1,101,2):
  sumatorio += numero # sumatorio = sumatorio + numero

print(sumatorio)

for numero in range(1,101,2):
  print(numero)

5050
2500
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99